
<div class="section-1">
    <div class="container">
        <div class="section-1-main">
            <button mat-stroked-button color="primary" routerLink="/all-role" routerLinkActive="active">All Role</button>
            <button mat-stroked-button routerLink="/all-user" routerLinkActive="active">All User</button>
            <button mat-stroked-button routerLink="/login" *ngIf="!isUserLoggedIn" routerLinkActive="active" >Login</button>
            <button mat-stroked-button  routerLinkActive="active" *ngIf="isUserLoggedIn"  (click)="logOut()">Logout</button>
            <button mat-stroked-button  routerLinkActive="active" routerLink="/profile" >Profile</button>
        </div>
    </div>
</div>